<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

  <head>
    <link rel="stylesheet" href="/css/productos.css">
    <title>Productos</title>
  </head>

  <body>
  
    <%- include("../partials/header") %>

    <main>
      <section class="productos">
        <article class="producto">
          <img src="/images/kitcompleto1.jpg" alt="Producto 1">
          <h2>Producto 1</h2>
          <p>Descripción breve del producto.</p>
          <span class="precio">$10.00</span>
        </article>
        <article class="producto">
          <img src="producto2.jpg" alt="Producto 2">
          <h2>Producto 2</h2>
          <p>Descripción breve del producto.</p>
          <span class="precio">$15.00</span>
        </article>
        <article class="producto">
          <img src="producto3.jpg" alt="Producto 3">
          <h2>Producto 3</h2>
          <p>Descripción breve del producto.</p>
          <span class="precio">$20.00</span>
        </article>
      </section>
    </main>
    
    <%- include("../partials/footer") %>

  </body>
</html>