<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productos.css">
    <title>Productos</title>
    <link rel="stylesheet" href="estilos.css">
  </head>
  <body>
    <header>
      <h1>Pantalog</h1>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/views/home.html#contacto">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="productos">
        <article class="producto">
          <img src="/images/kitcompleto1.jpg" alt="Producto 1">
          <h2>Producto 1</h2>
          <p>Descripción breve del producto.</p>
          <span class="precio">$10.00</span>
        </article>
        <article class="producto">
          <img src="producto2.jpg" alt="Producto 2">
          <h2>Producto 2</h2>
          <p>Descripción breve del producto.</p>
          <span class="precio">$15.00</span>
        </article>
        <article class="producto">
          <img src="producto3.jpg" alt="Producto 3">
          <h2>Producto 3</h2>
          <p>Descripción breve del producto.</p>
          <span class="precio">$20.00</span>
        </article>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Nuestra Tienda</p>
    </footer>
  </body>
</html>