<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>
<head>
    <link rel="stylesheet" href="/css/create.css">
    <title>Mate.ar -Carga y edita los productos</title>
</head>
<body>
    <%- include("../partials/header") %>
    <main class="main-create">
        <section class="create-container">
        <form action="/create" method="post" class="create">
            <span class="titulo">Creacion del producto:</span>
            <label for="" class="label-create">Nombre del producto</label>
            <input type="text" name="product" placeholder="Nombre" class="input" required>
            <label class="label-create">Descripcion del producto</label>
            <input type="text" name="description" placeholder="descripcion" class="input" required>
            <label class="label-create">Precio del producto</label>
            <input type="number" name="price" placeholder="Precio" class="input" required>
            <label class="label-create">Imagen del producto</label>
            <input type="file" name="image" placeholder="Imagen" class="file" required>
            <label class="label-create">Categoria del producto</label>
            <input type="text" name="category" placeholder="Categoria" class="input" required>
            <button type="submit" class="button">Subir</button>
        </form>
        </section>
    </main>
    
    <%- include("../partials/footer") %>
</body>
</html>