<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<head>
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <title>Detalle de producto</title>
</head>

<body>

  <%- include("../partials/header") %>

  <main>
    <div class="producto">
        <img src="imagen-producto.jpg" alt="Producto">
        <div class="botones">
          <button class="boton-carrito">Añadir al carrito</button>
          <button class="boton-comprar">Comprar</button>
        </div>
      </div>
  </main>

  <%- include("../partials/footer") %>

</body>
</html>