<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalog</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
        </style>
</head>
<body>
    <header>
        <div class="logo">

        </div>
    </header>
    <main>
        <div class="slider">
            <div><img src="" alt=""></div>
            <div><img src="" alt=""></div>
            <div><img src="" alt=""></div>
        </div>
        <h2>Categorias de pantalones</h2>
        <article class="categoria">
            <span class="titulo">Jeans</span>
             <a href="./views/categoria-jeans.html"><img src="/images/Jeans.jpg" alt="foto-jeans"></a>
        </article>

        <article class="categoria">
            <span class="titulo">De vestir</span>
            <img src="/images/de-vestir.jpg"> 
        </article>
        
        <article class="categoria">
            <span class="titulo">Shorts</span>
            <img src="/images/shorts.avif"> 
        </article>

        <article class="categoria">
            <span class="titulo">Deportivos</span>
            <img src="/images/deportivos.jfif" > 
        </article>

        <article class="categoria">
            <span class="titulo">Casuales</span>
            <img src="/images/casual.avif" > 
        </article>
    </main>
</body>
</html>