*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;

}

.main-cart{
  padding: 15px;
  background-color: #efefefbe;
}

.down-cart{
  font-size: 30px;
  text-align: left;
  padding-top: 5px;
  background-color: #2589bd;
  font-weight: bold;
  padding-left: 10px;
  text-transform: uppercase;
}

.description-cart{
  font-size: 14px;
  background-color: #2589bd;
  padding-left: 10px;
  padding-bottom: 5px;
}

.linea{
  border: 1px solid rgb(29, 28, 28);
}

.products{
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  align-self: center;
  padding: 10px 20px;
  border: none;
  background-color: #38686a;
  color: white;
  border-radius: 5px;
}

.box{
  display: flex;
  flex-direction: column;
  background-color: white;

}

.box-images{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.products-dospuntos{
  font-size: 25px;
  padding-left: 10px;
}

.metodos-pago{
  width: 80px;
  align-items: center;
  padding-bottom: 5px;
  

}

@media (min-width: 361px){

.down-cart{
  font-size: 40px;
}

.description-cart{
  font-size: 20px;
}

.products{
  font-size: 25px;
  align-self: flex-start;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.products-dospuntos{
  text-decoration: underline;
  margin-left: 20px;
}

.box-images{
  flex-direction: column;
  border: solid;
  padding: 10px;
  margin: 10px;
}

.metodos-pago{
  width: 100px;
  margin: 30px;
}

@media (min-width: 769px){

}



}

