*{  font-family: 'Tajawal', sans-serif; margin: 0; padding: 0;}
body{  background-color: #E5D9B6;}

.main-cart{
  margin-top: 68%;
  padding: 10%;
}

table.table td,
table.table th {
  vertical-align: middle;
}

.th-lg strong{
  margin: 5px;
}

.box-cart{
  background-color: #5F8D4E;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: #E5D9B6;
}

.container{
  padding: 8%;
}

.titulo-carrito{
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 20px;
  margin-top: 20px;
}

h2{
  margin: 15px 0;
}

.p{
  margin: 8px;
}

.table{
  margin: 8% 0 11%;
}

.compra{
  width: 200px;
  height: 200px;
  align-self: center;
  border: solid 1px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.numero-articulos{
  font-weight: 500;
  margin-right: 20px;
  text-align: right;
  margin-bottom: 20px;
}

.precio{
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}

.nombre{
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.boton{
  display: flex;
  justify-content: center;
}

.comprar{
  padding: 6px 15px;
  font-size: 16px;
  color: #E5D9B6;
  background-color: #285430;
  border-radius: 8px;
  text-decoration: none;
  border: none;
}

.envios{
  text-align: left;
  font-size: 15px;
  margin: 10px;
  margin-left: 20px;
  font-weight: 300;
  color: #E5D9B6;
}

@media (min-width: 450px){
  .th-lg strong{
    margin: 10px;
  }

  .comprar{
    font-size: 18px;
  }
}

@media (min-width: 800px){

  h2{
    font-size: 40px;
  }

  .comprar{
    font-size: 18px;
  }

  .box-cart{
    width: 70%;
  }

  .envios{
    margin: 4% 5%;
  }

  .main-cart{
    margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .p{
    font-size: 16px;
  }

  .th-lg strong{
    margin: 15px;

    font-size: 18px;
  }

}





