*{  font-family: 'Tajawal', sans-serif; }
body{ margin: 0; padding: 0; background-color: #E5D9B6;}

.main{
  padding: 50px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='1700' preserveAspectRatio='none' viewBox='0 0 2000 1700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3cpath d='M318.75 0C373.84 4.41 380.33 34 425 34C439.44 34 419.91 1.36 436.97 0C632.41 -15.64 643.49 0 850 0C1062.5 0 1062.5 0 1275 0C1487.5 0 1487.5 0 1700 0C1806.25 0 1806.36 -3.37 1912.5 0C2018.86 3.38 2088.77 -58.97 2125 13.49C2195.02 153.53 2125 219.25 2125 425C2125 637.5 2125 637.5 2125 850C2125 1062.5 2125 1062.5 2125 1275C2125 1487.5 2231.25 1593.75 2125 1700C2018.75 1806.25 1912.5 1700 1700 1700C1487.5 1700 1487.5 1700 1275 1700C1062.5 1700 1062.5 1700 850 1700C695.21 1700 595.55 1789.24 540.43 1700C464.3 1576.74 626.38 1461.43 587.5 1275C568.66 1184.68 506.25 1210.75 425 1146.51C237.5 998.25 228.19 1006.72 50 850C15.69 819.83 5.23 817.2 0 772.73C-19.77 604.7 0 598.87 0 425C0 212.5 -91.07 121.43 0 0C68.3 -91.07 161.34 -12.59 318.75 0' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M850 407.29C824.61 407.29 802.41 400.84 800.96 425C789.13 622.2 801.29 641.33 823.44 850C825.81 872.31 830.26 886.96 850 886.96C908.93 886.96 966.74 905.94 980.77 850C1024.69 674.96 1017.16 598.51 965.91 425C951.78 377.16 907.09 407.29 850 407.29' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1700 814.08C1620.86 814.08 1530 832.61 1530 850C1530 867.34 1620.28 883.55 1700 883.55C1721.42 883.55 1732.28 867.05 1732.28 850C1732.28 832.31 1722 814.08 1700 814.08' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1297.37C83.88 1297.37 301.97 1574.18 301.97 1700C301.97 1775.49 64.71 1786.28 0 1700C-86.28 1584.96 -67.1 1297.37 0 1297.37' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 269.17C128.66 269.17 179.05 349.03 359.62 425C391.55 438.43 405.67 420.38 425 447.97C554.57 632.88 657.42 672.96 657.42 850C657.42 960.46 539.94 1022.97 425 1022.97C314.36 1022.97 296.24 954.12 206.25 850C83.74 708.26 80.58 697.28 0 531.25C-22.55 484.78 0 478.13 0 425C0 347.09 -51.15 269.17 0 269.17' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M850 259.72C689.87 196.61 586.62 75.85 586.62 0C586.62 -54.01 718.31 0 850 0C1062.5 0 1062.5 0 1275 0C1395.28 0 1409.42 -38.75 1515.57 0C1621.92 38.83 1589.87 122.25 1700 155.16C1894.59 213.32 1989.67 96.22 2125 182.14C2202.17 231.14 2125 303.57 2125 425C2125 637.5 2125 637.5 2125 850C2125 1035.45 2148.6 1045.62 2125 1220.91C2119.99 1258.12 2067.79 1243.98 2067.79 1275C2067.79 1319.01 2117.75 1317.1 2125 1370.97C2146.35 1529.6 2217.73 1628.21 2125 1700C2005.23 1792.73 1912.5 1700 1700 1700C1487.5 1700 1487.5 1700 1275 1700C1062.5 1700 1062.5 1700 850 1700C760.8 1700 687.15 1762.2 671.6 1700C634.03 1549.7 681.8 1477.12 743.75 1275C771 1186.09 768.85 1130.91 850 1117.93C1034.47 1088.41 1068.59 1212.96 1275 1190C1493.59 1165.68 1506.22 1134.69 1700 1023.36C1802.11 964.69 1866.77 938.09 1866.77 850C1866.77 758.63 1791.79 748.33 1700 664.44C1559.28 535.83 1541.47 554.25 1401.75 425C1328.97 357.67 1363.03 297.65 1275 271.28C1087.15 215.01 1034.06 332.25 850 259.72' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1483.77C45.05 1483.77 162.17 1632.43 162.17 1700C162.17 1740.54 34.75 1746.33 0 1700C-46.33 1638.22 -36.04 1483.77 0 1483.77' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M850 112.15C777.07 106.03 736.27 32.75 736.27 0C736.27 -23.32 793.13 0 850 0C1062.5 0 1062.5 0 1275 0C1295.05 0 1315.09 -9.02 1315.09 0C1315.09 13.59 1303.64 38.3 1275 45.21C1071.09 94.38 1046.44 128.63 850 112.15' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1588.16 425C1588.16 376.05 1629.8 333.51 1700 323.81C1898.22 296.41 1944.04 307.7 2125 350.79C2156.54 358.3 2125 387.89 2125 425C2125 637.5 2125 637.5 2125 850C2125 938.87 2152.89 1027.73 2125 1027.73C2091.02 1027.73 2070.24 933.24 2001.27 850C1857.74 676.77 1856.69 675.99 1700 514.79C1650.14 463.49 1588.16 471.54 1588.16 425' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M362.5 850C362.5 798.96 393.01 735.14 425 735.14C457.46 735.14 491.41 799.42 491.41 850C491.41 881.56 457.84 899.42 425 899.42C393.39 899.42 362.5 881.1 362.5 850' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1492.68 1275C1560.38 1185.21 1599.29 1163.16 1700 1163.16C1784.68 1163.16 1805.1 1197.59 1863.46 1275C2007.48 1466.01 2149.47 1583.77 2104.76 1700C2067.74 1796.27 1902.38 1700 1700 1700C1497.62 1700 1343.28 1798.48 1295.24 1700C1239.62 1585.98 1358 1453.63 1492.68 1275' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1670.18C6.21 1670.18 22.37 1690.68 22.37 1700C22.37 1705.59 4.79 1706.39 0 1700C-6.39 1691.48 -4.97 1670.18 0 1670.18' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M802.78 1700C802.78 1606.67 776.68 1475 850 1475C991.54 1475 1232.5 1639.58 1232.5 1700C1232.5 1752.08 1041.25 1700 850 1700C826.39 1700 802.78 1719.17 802.78 1700' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='2000' height='1700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
h1{ margin: 8% 4%; color: #285430;}

.array-products{
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.producto {
  border-radius: 10px;
  width: 75%;
  background-color: #A4BE7B;
  margin-bottom: 2rem;
  padding: 1rem;
  margin: 10px;
}

.producto h3{
  margin-top: 5px;
  border-top: #E5D9B6 solid 2px;
}

.imag{
  border-radius: 10px; 
  width: 80%; 
}

.producto:hover{
  transform: scale(1.1) translateZ(10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.producto .precio {
  color: #cc0000;
  font-weight: bold;
}

.section-input{
  display: flex;
  justify-content: center;
}

.boton_agregar:hover {

  transform: scale(1.1) translateZ(10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);

}

.section-input input{ 
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: none;
  background-color:#285430;
  color: #E5D9B6;
  font-weight: 500;
}

.filtro{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2%;
}

.boton-fil{
  border: #285430 solid 2px;
  background-color: #E5D9B6;
  color: #285430;
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 450px){

  .producto {
    border-radius: 10px;
    width: 300px;
    background-color: #A4BE7B;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .imag{
    border-radius: 10px; 
    width: 80%; 
    height: 250px;
  }
  
}

@media (min-width: 800px){

  .producto{
    width: 300px;
    height: 400px;
    margin-bottom: 30px;
    padding: 10px;
  }
  .array-products{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
  }

  .imag{
    border-radius: 10px; 
    width: 80%; 
  }

  .boton-fil{
    font-size: 18px;
  }

  .filtro{
    justify-content: space-around;
  }

}