*{  font-family: 'Tajawal', sans-serif; }
body{ margin: 0; padding: 0; background-color: #E5D9B6;}

.main{ padding: 2%; margin-top: 68%;}
h1{ margin: 8% 4%; color: #285430;}

.array-products{
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto {
  border-radius: 10px;
  width: 75%;
  background-color: #A4BE7B;
  margin-bottom: 2rem;
  padding: 1rem;
  margin: 10px;
}

.producto h3{
  margin-top: 5px;
  border-top: #E5D9B6 solid 2px;
}

.imag{
  border-radius: 10px; 
  width: 80%; 
}

.producto:hover{
  transform: scale(1.1) translateZ(10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.producto .precio {
  color: #cc0000;
  font-weight: bold;
}

.section-input{
  display: flex;
  justify-content: center;
}

.boton_agregar:hover {

  transform: scale(1.1) translateZ(10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);

}

.section-input input{ 
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: none;
  background-color:#285430;
  color: #E5D9B6;
  font-weight: 500;
}

.filtro{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2%;
}

.boton-fil{
  border: #285430 solid 2px;
  background-color: #E5D9B6;
  color: #285430;
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 450px){

  .producto {
    border-radius: 10px;
    width: 300px;
    background-color: #A4BE7B;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .imag{
    border-radius: 10px; 
    width: 80%; 
    height: 250px;
  }
  
}

@media (min-width: 800px){

  .main{
    padding: 4%;
    margin-top: 13%;
  }

  .producto{
    width: 300px;
    height: 400px;
    margin-bottom: 30px;
    padding: 10px;
  }
  .array-products{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
  }

  .imag{
    border-radius: 10px; 
    width: 80%; 
  }

  .boton-fil{
    font-size: 18px;
  }

  .filtro{
    justify-content: space-around;
  }

}