*{  font-family: 'Tajawal', sans-serif; }
body{ margin: 0; padding: 0; background-color: #E5D9B6;}

.main-create{
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-container{
    display: flex;
    flex-direction: column;
}

.create{
    display: grid;
    margin: 20px;
}

.create input{
    padding: 5px;
}

.titulo{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.label-create{
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
}

.file{
    width: 300px;
}

.button{
    margin-top: 15px;
}