*{  font-family: 'Tajawal', sans-serif; }
body{ margin: 0; padding: 0; background-color: #E5D9B6;}


.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .botones {
    display: flex;
    justify-content: center;
  }
  
  .boton{
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  
  .boton-carrito:hover, .boton-comprar:hover {
    background-color: #0056b3;
}