/* Header */

.header{
    padding: 20px;
    text-align: center;
    background-color: #285430;
    align-items: center;
  }
  
  .box-logoynav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .logo{ 
    width: 125px;
  }
  
  .nav-1{
    font-size: 13px;
  }
  
  .nav-1 a { 
    color: #fff5e2;
    font-weight: bold;
    text-decoration: none;
  }

  .linea-acceyregis{
    width: 80px;
  }
  
  .busqueda{ 
    margin-top: 15px; 
    display: flex;
    text-align: center;
    justify-content: center;
    
  }
  .cuadrado-busqueda { 
    font-weight: 500;
    width: 70%;
    max-width: 80%;
    border: none;
    background-color: #E5D9B6;
    border-start-start-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    height: 13px;
  
  }

  .box-logo-navybuscador{
    display: flex;

  }
  
  .button-busqueda{
    color: #E5D9B6;
    padding: 1px 10px;
    border: none;
    background-color: #5F8D4E;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px; 
  }
  
  .nav-2{
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    display: flex;  
    justify-content: center;
    align-items: center;
  }
  
  .nav-2 a {
    padding: 0px 10px 0px 10px;
    margin: 10px 5px 0px 5px;
    color: #fff5e2;
    font-weight: bold;
    text-decoration: none;
  
  }

  .linea-nav2{
    width: 90%;
  }


@media(min-width: 450px){
    /*tablet*/
    .nav-2{
      display: flex;
      font-size: 14px;
    }

    .box-nav2{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 10px;
    }

    .nav-1{
      font-size: 14px; 
    }
    .logo{
      width: 150px;
    }

}

@media(min-width: 800px){
  /*desktop*/
   .box-nav2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
   }
   
   .nav-2{
    display: flex;
    justify-content: right;

   }

   .buscadorynav2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    border-width: 60%;
  }

  .linea-nav2{
    display: none;
  }

  .busqueda{
    width: 50%;
    justify-content: flex-start;
  }

  .box-logoynav1{
    margin: 5px;
  }
   

}

