*{  font-family: 'Tajawal', sans-serif; }
body{ margin: 0; padding: 0; background-color: #E5D9B6;}

/* Header */

.header{
  padding: 5px;
  text-align: center;
  background-color: #285430;
  align-items: center;
}

.box-logoynav1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.logo{ 
  width: 25%;
}

.nav-1{
  font-size: 13px;
  width: 25%; 
}

.nav-1 a { 
  color: #fff5e2;
  font-weight: bold;
}

.busqueda{ 
  margin: 18px 0; 
  display: flex;
  text-align: center;
  justify-content: center;
}
.cuadrado-busqueda { 
  font-weight: 500;
  width: 80%;
  border: none;
  background-color: #E5D9B6;
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  height: 13px;

}

.button-busqueda{
  color: #E5D9B6;
  padding: 1px 10px;
  border: none;
  background-color: #5F8D4E;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
}


.nav-2{
  font-size: 14px;
  width: 100%;
  border-top: #E5D9B6 solid 2px;
  margin-top: 10px;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.nav-2 a {
  margin: 10px;
  padding: 5px;
  color: #fff5e2;
  font-weight: bold;

}

.subtitulo{
  padding-left: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.productos-articulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px 10px 10px;
  padding-top: 20px;

}

.clasificacion{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
} 

.titulo-articulo {
  font-weight: bold;
  text-align: center;


}




/* Footer */
.footer{
  background-color: #285430;
  padding: 5% 3%;
  color: #E5D9B6;
}


/* Responsive */

@media(min-width: 450px){
    /*tablet*/
    .header{
      padding: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}

@media(min-width: 800px){
  /*desktop*/
  .header{ 
    padding: 20px 5% 5px;
    flex-wrap: wrap;
  }
  .busqueda{ width: 30%;}

  .footer{
    flex-direction: row;
    justify-content: space-around;
  }
}