*{  font-family: 'Tajawal', sans-serif; }
body{ margin: 0; padding: 0; background-color: #E5D9B6;}

.subtitulo{
  padding-left: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.productos-articulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px 10px 10px;
  padding-top: 20px;

}

.clasificacion{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
} 

.titulo-articulo {
  font-weight: bold;
  text-align: center;


}







/* Responsive */

@media(min-width: 450px){
    /*tablet*/
    .header{
      padding: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}

@media(min-width: 800px){
  /*desktop*/
  .header{ 
    padding: 20px 5% 5px;
    flex-wrap: wrap;
  }
  .busqueda{ width: 30%;}

  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .legal{
    margin: 0px 10px;
  }
  .pie{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .seccionesFooter{
    font-size: 18px;
  }
}