@-webkit-keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}

*{  font-family: 'Tajawal', sans-serif; }
body{ margin: 0; padding: 0; background-color: #E5D9B6;}

/* Vista celular*/
.main{
    background-color: #E5D9B6;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1700.2' height='1700.7' preserveAspectRatio='none' viewBox='0 0 1700.2 1700.7'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3cpath d='M1629.7 0C1700.79 26.66 1689.21 74.93 1704 159.75C1726.36 287.93 1704 292.88 1704 426C1704 639 1704 639 1704 852C1704 1065 1704 1065 1704 1278C1704 1491 1810.5 1597.5 1704 1704C1597.5 1810.5 1491 1704 1278 1704C1102.59 1704 927.18 1783.86 927.18 1704C927.18 1582.38 1070.99 1439.95 1278 1301.03C1388.4 1226.95 1536.77 1364.72 1562 1278C1602.09 1140.2 1511.6 1046.81 1408.64 852C1369.6 778.14 1351.14 740.66 1278 740.66C1163.35 740.66 1139.24 774.1 1033.05 852C926.24 930.36 925.34 941.49 852 1053.17C785.46 1154.49 826.52 1181.69 753.29 1278C613.52 1461.84 615.9 1490.25 426 1613.48C287.67 1703.25 262.76 1668.74 96.82 1704C49.76 1714 8.96 1743.45 0 1704C-39.45 1530.45 0 1491 0 1278C0 1065 0 1065 0 852C0 639 0 639 0 426C0 213 -106.5 106.5 0 0C106.5 -106.5 213 0 426 0C639 0 639 0 852 0C1065 0 1065 0 1278 0C1453.85 0 1487.79 -53.22 1629.7 0' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M106.5 426C156.53 237.77 288.62 278.22 426 106.5C459.02 65.22 402.23 11.27 447.3 0C615.23 -41.98 649.65 0 852 0C1065 0 1065 0 1278 0C1391.93 0 1436.3 -69.56 1505.86 0C1649.3 143.44 1604.93 213 1704 426C1704 426 1704 426 1704 426C1704 639 1704 639 1704 852C1704 967.02 1738.83 1082.04 1704 1082.04C1662.15 1082.04 1643.42 952.71 1550.64 852C1430.42 721.51 1432.97 639.53 1278 619.64C1083.65 594.69 1056.9 675.39 852 762.32C783.05 791.57 759.56 785.97 730.29 852C645.26 1043.81 715.98 1086.86 623.41 1278C563.83 1401.03 548.92 1423.9 426 1480.35C237.21 1567.06 128.36 1625.3 0 1564.33C-84.64 1524.12 0 1421.16 0 1278C0 1141.55 -56.8 1111.28 0 1005.09C57.13 898.28 207.49 962.78 227.86 852C260.74 673.24 57.46 610.52 106.5 426' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1052.47 1704C1052.47 1625.81 1132.59 1503.58 1278 1444.95C1458.36 1372.23 1572.25 1361.18 1704 1441.3C1785.25 1490.71 1785.25 1653.9 1704 1704C1572.25 1785.25 1491 1704 1278 1704C1165.24 1704 1052.47 1755.34 1052.47 1704' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M773.11 426C773.11 340.65 812.55 329.18 852 232.36C899.33 116.18 854.88 50.07 946.67 0C1067.88 -66.11 1112.34 0 1278 0C1330.01 0 1366.45 -41.52 1382.02 0C1446.33 171.48 1474.68 248.99 1437.75 426C1422.67 498.3 1363.4 490.44 1278 498.61C1070.52 518.46 1057.74 511.64 852 482.05C805.3 475.33 773.11 465.5 773.11 426' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1692.64 852C1692.64 836.91 1701.07 820.44 1704 820.44C1706.75 820.44 1704 836.22 1704 852C1704 860.52 1706.58 869.04 1704 869.04C1700.9 869.04 1692.64 861.21 1692.64 852' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1171.5C173.73 1046.03 278.11 938.42 426 970.33C524.88 991.67 493.54 1133.82 493.54 1278C493.54 1322.27 471.48 1336.93 426 1347.23C224.71 1392.8 168.91 1417.19 0 1389.74C-44.09 1382.58 0 1333.87 0 1278C0 1224.75 -39.27 1199.86 0 1171.5' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1177.76 1704C1177.76 1669.25 1208.71 1600.08 1278 1588.86C1471.83 1557.48 1526.43 1570.81 1704 1618.8C1739.43 1628.38 1739.5 1696.9 1704 1704C1526.5 1739.5 1491 1704 1278 1704C1227.88 1704 1177.76 1726.82 1177.76 1704' stroke='rgba(40%2c 84%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1700.2' height='1700.7' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}
h1{
    margin-bottom: 5px;
}

.box-register{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #5F8D4E;
    border-radius: 20px;
    padding: 8%;
    color: #E5D9B6;
}


.registro{
    font-size: 16px;
    padding: 5px; 
    margin-top: 15px;
}

.in-register{
    border-radius: 8px;
    border: none;
    padding: 3px;
    text-align: center;
    width: 80%;
}

.div-file{
    display: inline-block;
    position: relative;
}

#imag{
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 40px;

}

.boton{
    margin: 10px;
}

.boton-registro{
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    align-self: center;
    background-color: #285430;
    border: none;
    border-radius: 15px;
    color: #E5D9B6;
    font-size: 16px;
}



.boton-registro:hover {
    transform: scale(1.1) translateZ(10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


/* Vista tablet */
@media (min-width: 361px){
.registro{
    font-size: 23px; 
}
    
.in-register{
    width: 300px;
    height: 30px;
    align-self: center;
}
}

/* Vista computadora*/
@media (min-width: 769px){
    .main{
        padding: 4%;

    }

    .box-register{
        padding: 6%;
    }

    .boton-registro{
        font-size: 16px;
    }


}

