<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <title>Detalle de producto</title>
    
</head>
<body>
    <div class="producto">
        <img src="imagen-producto.jpg" alt="Producto">
        <div class="botones">
          <button class="boton-carrito">Añadir al carrito</button>
          <button class="boton-comprar">Comprar</button>
        </div>
      </div>
</body>
</html>