<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<head>
    <title>Document</title>
</head>
<body>
    <h1>Error 404</h1>
    <p>La pagina no fue encontrada vuelve a intentarlo o regresa a la pagina principal <a href="/">mate.ar</a></p>
    <p>y mientras comienza a matear :D</p>
</body>
<style>
    *{
        font-family: "tajawal";
        margin: 0;
    }
    body{
        background-color: #E5D9B6;
        padding: 5%;
    }
</style>
</html>