<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<head>
  <link rel="stylesheet" href="/css/home.css">
  <title>Mate.ar</title>
</head>

<body>
  <%- include("./partials/header.ejs") %>

    <main class="main">
      <article class="reseña-articulo">
      <div class="box-reseña">
      <p class="titulo-reseña">¿Quienes somos?</p>
      <p class="reseña-home">
        Mate Ar es una empresa Argentina con el objetivo de querer ayudar a los distintos Argentinos del mundo a poder conseguir un matecito de forma
        rapida y segura, si no si sos extranjero tambien tenemos todo lo necesario para vos y toda tu familia a un precio bastante economico. <br> <br/>
        Todos nuestros productos son artesanales provenientes de distintas partes de nuestro paìs, como seria el caso de nuestras bolsas materas 
        de cuero de guanaco proveniente de la patagonia, o los mates decorativos hechos de las salinas de Jujuy.</p>
      </div>
      </article>

      <section>
        <p class="subtitulo">Nuestras categorias</p>
        <div class="categoria">
        <article class="productos-articulo" onclick="location.href= '/products/catalogo' ">
          <div class="box-imgyp">
            <img src="/images/bombilla.jpg" class="clasificacion">
            <p class="titulo-articulo">Bombillas de mate</p> 
          </div>
        </article>

        <article class="productos-articulo" onclick="location.href= '/products/catalogo' ">
          <div class="box-imgyp">
            <img src="/images/termo.jpg" class="clasificacion"> 
            <p class="titulo-articulo">Termos de mate</p>
          </div>
        </article>
        
        <article class="productos-articulo" onclick="location.href= '/products/catalogo' ">
          <div class="box-imgyp">
            <img src="/images/mate.jpg" class="clasificacion"> 
            <p class="titulo-articulo">Tipos de mate</p>
          </div>
        </article>

        <article class="productos-articulo" onclick="location.href= '/products/catalogo' ">
          <div class="box-imgyp">
            <img src="/images/kitcompleto1.jpg" class="clasificacion"> 
            <p class="titulo-articulo">Kit de mate</p>
          </div>
        </article>

      </div>
      </section>

    </main>

    <section class="info">
      <img src="/images/Matear2022.jpg" alt="banner-buenos aires" class="matear2022" onclick="location.href= ('https://inym.org.ar/feria-matear.html') ">
      <section class="info-texto">
        <h3>Matear Argentina 2022 </h3>
      <p>
        ¿Que es matear Argentina? <br>
        MATEAR es una feria temática que muestra lo mejor de nuestro producto, profundizando el vínculo 
        que los argentinos tenemos con el mate, proponiendo un espacio de intercambio con el sector 
        gastronómico, comercial, cultural y con los consumidores finales. <br><br/>
        Para mas informacion puede ingresar a la pagina principal de matear: https://matear.com.ar/ o 
        directamente a la magian de los organizadores del evento: https://inym.org.ar/feria-matear.html
      </p>
      <a href="" download="Acme Documentation.pdf">Folleto matear 2023</a>
      </section>
    </section>

  <%- include("./partials/footer.ejs") %>

</body>
</html>