<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://kit.fontawesome.com/b8dd215804.js" crossorigin="anonymous"></script>
  <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <title>Mate.ar</title>
</head>

<body>
  <header class="header">
      <img src="/images/Logo-Matear.png" alt="logo-Mater.ar" class="logo">
    <form action="/product" method="get" class="busqueda">
      <input type="text" name="buscar-producto" placeholder="Buscar..." class="cuadrado-busqueda" >
      <button type="submit" class="button-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    
    <nav class="nav-1">     
      <a href="/registro">Registro</a>
      <hr>
      <a href="/acceso">Acceso</a>
    </nav>  

    <nav class="nav-2">
      <a href="/">Inicio</a>
      <a href="/catalogo">Catalogo</a>
      <a href="/carro">Carrito</span></a>
    </nav>
    </header>

    <main>
      <section>
        <div class="slider">
            <div><img src="" alt=""></div>
            <div><img src="" alt=""></div>
            <div><img src="" alt=""></div>
        </div>
        <h2>Categorias de pantalones</h2>
        <article class="categoria">
            <span class="titulo">Jeans</span>
            <a href="/catalogo"><img src="/images/Jeans.jpg" alt="foto-jeans"></a>
        </article>

        <article class="categoria">
            <span class="titulo">De vestir</span>
            <img src="/images/de-vestir.jpg"> 
        </article>
        
        <article class="categoria">
            <span class="titulo">Shorts</span>
            <img src="/images/shorts.avif"> 
        </article>

        <article class="categoria">
            <span class="titulo">Deportivos</span>
            <img src="/images/deportivos.jfif" > 
        </article>

        <article class="categoria">
            <span class="titulo">Casuales</span>
            <img src="/images/casual.avif" > 
        </article>
      </section>
    </main>

    
  <footer class="footer">
    <section class="container">
      <section class="section-footer">
        <h3>Nuestras redes</h3>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ul>
      </section>
      
      <section class="section-footer">
        <h3>Metodos de pago</h3>
      </section>

      <section class="section-footer">
        <h3>Legal</h3>
        <ul>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </section>

      <section class="section-footer">
        <h3>Contacto</h3>
        <ul>
          <li><a href="mail:panta-log@gmail.com">panta-log@gmail.com</a></li>
          <li><a href="#">(123) 456-7890</a></li>
          <li><a href="#">Horario de atención al cliente</a></li>
        </ul>
      </section>
    </section>

    </footer>
</body>
</html>