<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<head>
  <link rel="stylesheet" href="/css/home.css">
  <title>Mate.ar</title>
</head>

<body>
  <header class="header">
      <img src="/images/LogoMateAr.png" alt="logo-Mater.ar" class="logo">
    <form action="/product" method="get" class="busqueda">
      <input type="text" name="buscar-producto" placeholder="Buscar..." class="cuadrado-busqueda" >
      <button type="submit" class="button-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <nav class="nav">
      <a href="/">Inicio</a>
      <a href="/catalogo">Catalogo</a>
      <a href="/registro">Registrarse</a>
      <a href="/login">Inicio sesion</a>
      <a href="/carro">Carrito</span></a>
    </nav> <img src="/images/LogoMateAr.png" alt="logo-Mater.ar" class="logo">
    <form action="/product" method="get" class="busqueda">
      <input type="text" name="buscar-producto" placeholder="Buscar..." class="cuadrado-busqueda" >
      <button type="submit" class="button-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    
    <nav class="nav-1">     
      <a href="/registro">Registro</a>
      <hr>
      <a href="/acceso">Acceso</a>
    </nav>  

    <nav class="nav-2">
      <a href="/">Inicio</a>
      <a href="/catalogo">Catalogo</a>
      <a href="/carro">Carrito</span></a>
    </nav>
    </header>-->

    <main>
      <section>
        <div class="slider">
            <div><img src="" alt=""></div>
            <div><img src="" alt=""></div>
            <div><img src="" alt=""></div>
        </div>
        <h2>Categorias de pantalones</h2>
        <article class="categoria">
            <span class="titulo">Jeans</span>
            <a href="/catalogo"><img src="/images/Jeans.jpg" alt="foto-jeans"></a>
        </article>

        <article class="categoria">
            <span class="titulo">De vestir</span>
            <img src="/images/de-vestir.jpg"> 
        </article>
        
        <article class="categoria">
            <span class="titulo">Shorts</span>
            <img src="/images/shorts.avif"> 
        </article>

        <article class="categoria">
            <span class="titulo">Deportivos</span>
            <img src="/images/deportivos.jfif" > 
        </article>

        <article class="categoria">
            <span class="titulo">Casuales</span>
            <img src="/images/casual.avif" > 
        </article>
      </section>
    </main>

    
  <footer class="footer">
    <section class="seccionesFooter">
        <p>Seguinos en nuestras redes sociales</p> 
        <section class="iconosFooter">
            <i class="fa-brands fa-instagram animIcon"></i>
            <i class="fa-brands fa-facebook animIcon"></i>
            <i class="fa-brands fa-twitter animIcon"></i>
        </section>
    </section>

    <section class="seccionesFooter">
      <p>Metodos de pago</p>
      <section class="iconosFooter">
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-cc-visa"></i>
    </section>
    </section>

    <section class="seccionesFooter">
        <p>Informacion y contactos</p>
        <section class="iconosFooter">
            <i class="fa-solid fa-phone animIcon"></i>
            <i class="fa-solid fa-envelope animIcon"></i>
            <i class="fa-solid fa-truck-fast"></i>
        </section>
    </section>

    <section class="pie">
      <section class="legal">
        <p>Copyright © 2023 Mate-Ar S.R.L.</p>
      </section>

      <section class="section-footer">
        <h3>Legal</h3>
        <ul>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </section>

      <section class="section-footer">
        <h3>Contacto</h3>
        <ul>
          <li><a href="mail:panta-log@gmail.com">panta-log@gmail.com</a></li>
          <li><a href="#">(123) 456-7890</a></li>
          <li><a href="#">Horario de atención al cliente</a></li>
        </ul>
      </section>
    </section>

    </footer>-->
</body>
</html>