<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<head>
  <link rel="stylesheet" href="/css/home.css">
  <title>Mate.ar</title>
</head>

<body>
  <%- include("./partials/header.ejs") %>

    <main>
      <section>
        <p class="subtitulo">Categorias:</p>

        <article class="productos-articulo">
          <img src="/images/yerba-de-mate.jpg" class="clasificacion">
          <span class="titulo-articulo">Yerbas de mate</span> 
        </article>

        <article class="productos-articulo">
            <img src="/images/termo.jpg" class="clasificacion"> 
            <span class="titulo-articulo">Termos de mate</span>
        </article>
        
        <article class="productos-articulo">
            <img src="/images/mate.jpg" class="clasificacion"> 
            <span class="titulo-articulo">Tipos de mate</span>
        </article>

        <article class="productos-articulo">
            <img src="/images/accesorio.jpg" class="clasificacion">  
            <span class="titulo-articulo">Accesorios de mate</span>
        </article>

        <article class="productos-articulo">
            <img src="/images/kitcompleto1.jpg" class="clasificacion"> 
            <span class="titulo-articulo">Kit de mate</span>
        </article>
      </section>
    </main>

  <%- include("./partials/footer.ejs") %>

</body>
</html>