<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer class="footer">
    <section class="seccionesFooter">
        <p>Seguinos en nuestras redes sociales</p> 
        <section class="iconosFooter">
            <i class="fa-brands fa-instagram animIcon"></i>
            <i class="fa-brands fa-facebook animIcon"></i>
            <i class="fa-brands fa-twitter animIcon"></i>
        </section>
    </section>

    <section class="seccionesFooter">
        <p>Metodos de pago</p>
        <section class="iconosFooter">
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-cc-visa"></i>
    </section>
    </section>

    <section class="seccionesFooter">
        <p>Informacion y contactos</p>
        <section class="iconosFooter">
            <i class="fa-solid fa-phone animIcon"></i>
            <i class="fa-solid fa-envelope animIcon"></i>
            <i class="fa-solid fa-truck-fast"></i>
        </section>
    </section>

    <section class="pie">
        <section class="legal">
            <p>Copyright © 2023 Mate-Ar S.R.L.</p>
        </section>
        <section class="legal">
            <p><a href="/">Política de privacidad</a></p>
            </section>
        <section class="legal">
            <p><a href="/">Términos y condiciones</a></p>
        </section>
    </section>
</footer>
</html>