<footer class="footer">
    <section class="seccionesFooter">
        <p>Seguinos en nuestras redes sociales</p> 
        <section class="iconosFooter">
            <a href="/"><i class="fa-brands fa-instagram animIcon"></i></a>
            <a href="/"><i class="fa-brands fa-facebook animIcon"></i></a>
            <a href="/"><i class="fa-brands fa-twitter animIcon"></i></a>
        </section>
    </section>

    <section class="seccionesFooter">
        <p>Metodos de pago</p>
        <section class="iconosFooter">
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-visa"></i>
        </section>
    </section>

    <section class="seccionesFooter">
        <p>Informacion y contactos</p>
        <section class="iconosFooter">
            <a href="/"><i class="fa-solid fa-phone animIcon"></i></a>
            <i class="fa-solid fa-envelope animIcon"></i>
            <a href="/products/catalogo"><i class="fa-solid fa-truck-fast"></i></a>
        </section>
    </section>

    <section class="pie">
        <section class="legal">
            <p>Copyright © 2023 Mate-Ar S.R.L.</p>
        </section>
        <section class="legal">
            <p><a href="/">Política de privacidad</a></p>
            </section>
        <section class="legal">
            <p><a href="/">Términos y condiciones</a></p>
        </section>
    </section>


    <style>
    .seccionesFooter{
        margin-bottom: 18px;
    }
    .footer{
    background-color: #285430;
    padding: 20px;
    color: #E5D9B6;
    }

    .footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    }

    .iconosFooter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1.4rem;
    justify-content: space-around;
    align-items: center;
    }

    .iconosFooter a i{
        margin: 8px;
        color: #E5D9B6;
    }

    .legal{
        margin: 0px 10px;
    font-size: 14px;
    }

    .legal p a{
    text-decoration: none;
    color: #E5D9B6;
    }

    .pie{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    }

    .iconosFooter a i:active{
        color: #A4BE7B;
    }


    @media(min-width: 800px){
    .footer{
    flex-direction: row; 
    justify-content: space-around;
    align-items: stretch;
    }

    .iconosFooter {
    display: flex;
    }
    .seccionesFooter p{
    font-size: 20px;
}
    }
    </style>

</footer>