<!-- ENCABEZADO DE TODAS LAS PAGINAS -->

<header class="header">

    <img src="/images/LogoMateAr.png" alt="logo-Mater.ar" class="logo" onclick="location.href= '/'">

    <form action="/search" method="get" class="busqueda">
        <input type="text" name="buscar_producto" placeholder="Buscar..." class="cuadrado-busqueda" >
        <button type="submit" class="button-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

        <nav class="nav">
        <div class="contenedor-inicioycatalogo">
            <a href="/" >Inicio</a>
            <a href="/products/catalogo" >Catalogo</a> 
        </div>

            <% if (locals.userLogged) { %>
            <div class="contenedor-perfilfotoycarrito">
                <a href="/users/carrito">      
                    <span href="clearfix d-none d-sm-inline-block" class="fa fa-shopping-cart header-link"></span>
                    <span class="badge red z-depth-1 mr-1 cart-number">0</span>
                </a>  
                <div class="contenedor-perfilyfoto">
                <select onchange="location = this.value" class="select">
                    <option value="/users/perfil" >Mi perfil</option>
                    <option value="/users/logout" >Cerrar Sesion</option>
                </select>
                <div class="imagen-contenedor">
                <img src="/images/users/<%= locals.userLogged.avatar %>" onclick="location.href='/users/perfil'"  class="img-profile">
                </div>
                </div>
            </div>
            <% } else {%>
                <div class="contenedor-perfilfotoycarrito">
            <a href="/users/registro" >Registrarse</a>
            <a href="/users/login" >Acceso</a>
        </div>
            <% } %>
            
        </nav>

    <style>

    .header{
        text-align: center;
        background-color: #285430;
        padding: 20px;
        -webkit-box-shadow: 0px 9px 15px -2px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 9px 15px -2px rgba(0,0,0,0.49);
box-shadow: 0px 9px 15px -2px rgba(0,0,0,0.55);
width: 100%;
    }

    .logo{ 
        width: 60%;
    }

    .busqueda{ 
        margin: 10px 0;
        display: flex;
        text-align: center;
        justify-content: center;
        
    }

    .imagen-contenedor{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
    }

    .img-profile{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
        margin-right: 5px;
    }

    .img-profile:hover{
        transform: scale(1.1) translateZ(10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    .contenedor-perfilyfoto{
        display: flex;
        
    }

    .contenedor-perfilfotoycarrito{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-basis: 50%
    }

    .contenedor-inicioycatalogo{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-basis: 50%;

    }

    .cuadrado-busqueda { 
        font-weight: 500;
        width: 80%;
        border: none;
        background-color: #E5D9B6;
        border-start-start-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 10px;
        height: 13px;
    }

    .button-busqueda{
        color: #E5D9B6;
        padding: 1px 10px;
        border: none;
        background-color: #5F8D4E;
        border-end-end-radius: 10px;
        border-start-end-radius: 10px; 
    }

    .nav{
        margin: 5px ;
        padding: 10px;
        border-top: #E5D9B6 solid 2px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nav a { 
        color: #fff5e2;
        font-weight: bold;
        text-decoration: none;
        align-items: center;
        margin: 5px;
        margin-right: 10px;

    }    
    
    .select{
        background-color: #5F8D4E;
        color: #E5D9B6;
        border-radius: 10px;
        border: none;
        margin: 5px;
        padding: 5px;
        height: 30px;
    }

    .oferta{
        background-color: #5F8D4E;
        display: flex;
        justify-content: center;
        width: 120%;
        color: #E5D9B6;
        font-size: 14px;
    }

    .header-link:hover{
        transform: scale(1.1) translateZ(10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    @media(min-width: 450px){
    /*tablet*/
    .header{ padding-bottom: 5px;}
}

    @media(min-width: 800px){
    /*desktop*/
    .header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }

    .logo{ width: 25%;}

    .busqueda{ width: 40%;}

    .nav{ width: 100%;}
    
    .button-busqueda{
        height: 33px;
    }
    .nav a{
        font-size: 18px;
    }
}   
    </style>
    <script src="/js/productos.js"></script>
</header>