<header class="header">
    <div class="box-logoynav1">
    <img src="/images/LogoMateAr.png" alt="logo-Mater.ar" class="logo">
    <nav class="nav-1">
        <a href="/registro">Registrarse</a>
        <a href="/login">Inicio sesion</a>
    </nav> 
    </div> 
    <form action="/product" method="get" class="busqueda">
        <input type="text" name="buscar-producto" placeholder="Buscar..." class="cuadrado-busqueda" >
        <button type="submit" class="button-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <nav class="nav-2">
        <a href="/">Inicio</a>
        <a href="/catalogo">Catalogo</a>        
        <a href="/carrito">Carrito</a>
        <a href="/edition">editor</a>
        <a href="/create">create</a>
        <a href="/detalle">detalle</a>
    </nav>
    <style></style>
</header>