<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <title>Mate.ar</title>
</head>

<header class="header">
    <div class="box-logoynav1">
    <img src="/images/LogoMateAr.png" alt="logo-Mater.ar" class="logo">
    <nav class="nav-1">
        <a href="/users/registro">Registrarse</a>
        <hr>
        <a href="/users/login">Inicio sesion</a>
    </nav> 
    </div> 
    <form action="/product" method="get" class="busqueda">
        <input type="text" name="buscar-producto" placeholder="Buscar..." class="cuadrado-busqueda" >
        <button type="submit" class="button-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <nav class="nav-2">
        <a href="/">Inicio</a>
        <a href="/products/catalogo">Catalogo</a>        
        <a href="/users/carrito">Carrito</a>

    </nav>
    <nav class="nav-2">        
        <a href="/products/edition">Editor</a>
        <a href="/products/create">Create</a>
        <a href="/products/detalle">Detalle</a> 
    </nav>
    <style></style>
</header>
</html>