<!-- PAGINA DEL CARRITO -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/carrito.css">
    <%- include("../partials/head") %>
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <main class="main-cart">
            <div class="box-cart">
                <div class="container wow fadeIn animated">
                    <h2 class="mt-5 mb-3 h2 text-center"> Productos en mi carrito</h2>
                    <div class="card my-5">

                            <table class="table table-responsive-md mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 40px;">
                                            <strong>#</strong>
                                        </th>
                                        <th class="th-lg">
                                            <strong>Producto</strong>
                                        </th>
                                        <th class="th-lg ">
                                            <strong>Precio</strong>
                                        </th>
                                        <th class="th-lg">
                                            <strong>Cantidad</strong>
                                        </th>
                                        <th class="th-lg">
                                            <strong>Subtotal</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="cartRows">
                                </tbody>
                            </table>
                    </div>

                    <div class="card">
                        <form class="card-body" id="checkoutCart">
                            <div class="row">
                                <div class=" col-md-6 mb-4">
                                    <label for="country" class="p">Tipo Envio</label>
                                    <select class="custom-select d-block w-100" id="shippingMethod"
                                        name=" shippingMethod" required="">
                                        <option value="" >Elegir...</option>
                                        <option value="Cadete" >Cadete</option>
                                        <option value="Correo" >Correo Argentino</option>
                                        <option value="Andreani" >Andreani</option>
                                        <option value="DHL" >DHL</option>
                                    </select>
                                    <div class="p">
                                        Elija un tipo de envio.
                                    </div>

                                </div>
                                <div class=" col-md-6 mb-4">
                                    <label for="country" class="p">Pago</label>
                                    <select class="custom-select d-block w-100" id="paymentMethod" name="paymentMethod"
                                        required="">
                                        <option value="" >Elegir...</option>
                                        <option value="Efectivo">Efectivo</option>
                                        <option value="Débito">Tarjeta Débito</option>
                                        <option value="Crédito">Tarjeta Crédito</option>
                                    </select>
                                    <div class="p">
                                        Elija un tipo de pago.
                                    </div>

                                </div>
                            </div>
                                <h2>Total: <span class="totalAmount">$ 0</span></h2>

                            <div class="boton">
                                <button class="comprar" type="submit">Comprar</button>
                            </div>
                        </form>
                    </div>
                </div>

                <span class="envios">Envios gratis a toda Argentina</span>
            </div>
        </main>

        <%- include("../partials/footer") %>
            <script src="/js/cart.js"></script>

</body>
</html>