<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<head>
    <title>Carro</title>
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<body>

    <%- include("../partials/header.ejs") %>

    <main class="main-cart">
        <hr class="linea">
        <p class="down-cart">El carrito esta vacio</p>
        <p class="description-cart">Tiene que añadir productos a su carrito, presione el boton de abajo</p>
        <hr class="linea">
        <div class="box">
            <button class="products" type="submit">AÑADIR PRODUCTOS</button>
            <p class="products-dospuntos">Metodos de pago:</p>
        <div class="box-images">  
            <img class="metodos-pago" src="images/mastercard1.png" >
            <img class="metodos-pago" src="images/americanexpress.png">
            <img class="metodos-pago" src="images/visa1.png">
        </div>  
        <hr class="linea">
        </div>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>