<!-- PAGINA DEL CARRITO -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/carrito.css">
    <%- include("../partials/head") %>
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <main class="main-cart">
            <div class="box-cart">
                <div class="container">
                    <h1 class="titulo-carrito">CARRITO DE COMPRAS:</h1>
                    <div class="card">

                            <table class="table">
                                <thead>
                                    <tr class="tr">
                                        <th class="th-lg">
                                            <strong>#</strong>
                                        </th>
                                        <th class="th-lg">
                                            <strong>Producto</strong>
                                        </th>
                                        <th class="th-lg ">
                                            <strong>Precio</strong>
                                        </th>
                                        <th class="th-lg">
                                            <strong>Cantidad</strong>
                                        </th>
                                        <th class="th-lg">
                                            <strong>Subtotal</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="cartRows">
                                </tbody>
                            </table>
                    

                    
                        <form class="card-body" id="checkoutCart">
                            <div class="row">
                                <div class="tipo-de">

                                <div class="container-pago">
                                    <label for="country" class="p">Tipo de Envio</label>
                                    <select class="custom-select d-block w-100" id="shippingMethod"
                                        name=" shippingMethod" required="">
                                        <option value="" >Elegir...</option>pr
                                        <option value="Cadete" >Cadete</option>
                                        <option value="Correo" >Correo Argentino</option>
                                        <option value="Andreani" >Andreani</option>
                                        <option value="DHL" >DHL</option>
                                    </select>
                                    <div class="Elegir">
                                        Elija un tipo de envio.
                                    </div>

                                </div>
                                <div class="container-pago">
                                    <label for="country" class="p">Tipo de Pago</label>
                                    <select class="custom-select d-block w-100" id="paymentMethod" name="paymentMethod"
                                        required="">
                                        <option value="" >Elegir...</option>
                                        <option value="Efectivo">Efectivo</option>
                                        <option value="Débito">Tarjeta Débito</option>
                                        <option value="Crédito">Tarjeta Crédito</option>
                                    </select>
                                    <div class="Elegir">
                                        Elija un tipo de pago.
                                    </div>
                                </div></div>
                                    <div class="container-img">
                                        <img src="/images/002-te-de-mate-1.png" class="img-compra">

                                    </div>

                                
                            </div>
                                <h2>Total: <span class="totalAmount">$ 0</span></h2>

                            <div class="boton">
                                <button class="comprar" type="submit">Comprar</button>
                            </div>
                        </form>
                    </div>
                </div>

                <span class="envios">Envios gratis a toda Argentina</span>
            </div>
        </main>

        <%- include("../partials/footer") %>
            <script src="/js/añadidoCarrito.js"></script>

</body>
</html>