<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<head>
    <title>Formulario Login</title>
    <link rel="stylesheet" href="/css/acceso.css">
</head>

<body>

	<%- include("../partials/header") %>

    <main class="main">
		<div class="login-container">
		<p class="iniciar">Iniciar sesión</p>
		<form method="POST" class="form-acceso" enctype="multipart/form-data" action="/users/login">
			<label class="login-sub">Nombre de usuario o correo electrónico</label>
			<input type="text" class="login-input" name="nombre-user" placeholder="correo o username" required>

			<label class="login-sub">Contraseña</label>
			<input type="password" class="login-input" name="Contraseña" placeholder="hola81272" required>

			<label class="login-sub"><input type="checkbox" name="recordar">Recordar este usuario</label>

    <div class="bottom">
			<button type="submit" class="boton-iniciar">Iniciar sesión</button>
		</div>
	</form>
		<h3 class="go-register">¿No tenes una cuenta? <a href="/registro"> Regístrate aquí</a></h3>
	</div>
</main>

<%- include("../partials/footer") %>

</body>
</html>