<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<head>
    <title>Registro - Mater.ar</title>
    <link rel="stylesheet" href="css/registro.css">
</head>

<body>

  <%- include("../partials/header") %>

    <main class="main-register">
    <form method="post" class="box-register">
      <div class="box-title"><p class="Titulo-register">Registro:</p></div>
      <label for="nombre_usuario" class="registro">Nombre de usuario:</label>
      <input type="text" class="in-register" name="nombre_usuario" placeholder="Genaro777"  required><br>

      <label for="email" class="registro">Correo electrónico:</label>
      <input type="email" class="in-register" name="email" placeholder="genarorafault@gmail.com" required><br>
      
      <label for="phone_number" class="registro">Numero celular:</label>
      <input type="number" class="in-register" name="phone_number" placeholder="5492901432109" required><br>

      <label for="ideal" class="registro">¿Que quiere hacer?</label>
      <select class="in-register">
        <option value="conmprar">Quiero comprar</option>
        <option value="vender">Quiero vender</option>
        <option value="los-dos">Quiero comprar y vender</option>
      </select><br>
      
      <label for="contrasena" class="registro">Contraseña:</label>
      <input type="password" class="in-register" name="contrasena" minlength="8" placeholder="123456789" required><br>

      <label for="confirmar_contrasena" class="registro">Confirmar contraseña:</label>
      <input type="password" class="in-register" name="confirmar_contrasena" minlength="8" placeholder="123456789" required><br>

      <hr class="linea-registro">
      <div class="boton">
      <button type="submit" class="boton-registro">Crear cuenta</button><br>
      </div>
    </form>
    </main>

  
  <%- include("../partials/footer") %>

</body>
</html>