<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>
<head>
    <title>Registro - Mater.ar</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>

<body>

  <%- include("../partials/header") %>

    <main class="main">
    <form method="post" class="box-register" enctype="multipart/form-data">

      <h1>Regristro</h1>

      <label class="registro">Nombre de usuario</label>
      <input type="text" class="in-register" name="nombre_usuario" placeholder="Genaro777">

      <label class="registro">Nombre y apellido</label>
      <input type="text" class="in-register" name="nombre-apellido" placeholder="Gustavo Cerati">

      <label class="registro">Correo electrónico</label>
      <input type="email" class="in-register" name="email" placeholder="genarorafault@gmail.com" >
      
      <label class="registro">Pais</label>
      <input type="number" class="in-register" name="pais" placeholder="Argentina" >

      <label class="registro">Domicilio</label>
      <input type="number" class="in-register" name="domicilio" placeholder="Calle numero" >

      <label class="registro">Permisos</label>
      <label><input type="radio" name="admin"> Admin</label>
      
      <label class="registro">Contraseña</label>
      <input type="password" class="in-register" name="contrasena"  placeholder="123456789" >

      <label class="registro">Confirmar contraseña</label>
      <input type="password" class="in-register" name="confirmar_contrasena" placeholder="123456789" >

      <label class="registro"><input type="radio" name="terminos y condiciones"> Acepto terminos y condiciones</label>

      <div class="boton">
        <button type="submit" class="boton-registro">Crear cuenta</button>
        <button type="reset" class="boton-registro">Borrar</button>
      </div>


    </form>
    </main>

  
  <%- include("../partials/footer") %>

</body>
</html>